<!-- views/index.ejs -->
<!doctype html>
<html>
	<head>
		<title>Node Authentication</title>
		<script>
			if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
				
			}else{
				
			}
		</script>

		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=no; target-densityDpi=device-dpi"/>
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.css">
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

		<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
		<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
		
	</head>
	<body>
		<div data-role="page" id="index">
			<div data-theme="a" data-role="header">
				<h3>
					First Page
				</h3>
				<a href="/second" class="ui-btn-right">Next</a>
			</div>
			<div data-role="content">
			<ul data-role="listview">
			    <li><a href="#">Listas</a></li>
			</ul>
			</div>

			<div data-theme="a" data-role="footer" data-position="fixed">
			</div>
		</div>
	</body>
</html>