<!-- views/index.ejs -->
<!doctype html>
<html>
	<head>
		<title><%= title %></title>

		<% include ../html/scripts_css %>
		
	</head>
	<body>
		<% include ../html/top %>
		<div class="jumbotron">
			<div class="page-header">
					<h3>
						<p class="text-center">
							<title><%= title %></title>
						</p>
					</h3>
				
			</div>
			<% include ./matches_admin_edit_buttons %>
			<div id="loadedContainer">
			</div>
		</div>
	</body>
</html>