<!-- views/index.ejs -->
<!doctype html>
<html>
	<head>
		<title><%= title %></title>

		<% include ../html/scripts_css %>
		
		<script>

			if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
				
			}else{
				
			}

			$( document ).ready(function()
			{

				$('.createMatch').click(function()
				{
					$.post("/matches/views/create",
					{
						/*list_id       : listid,
						player_status : $(this).prop('checked')*/
					},
					function(data, status)
					{
						$("#loadedContainer").html( data );

					});
				});
				
				$('#manageMatch').click(function()
				{
					$.post("/matches/views/list",
					{
						/*list_id       : listid,
						player_status : $(this).prop('checked')*/
					},
					function(data, status)
					{
						$("#loadedContainer").html( data );

					});
				});
				
			})

		</script>

	</head>
	<body>
		<% include ../html/top %>
		<div class="jumbotron">
			<div class="page-header">
					<h3>
						<p class="text-center">
							<title><%= title %></title>
						</p>
					</h3>
				
			</div>
			<p class="text-center">
				<button type="button" class="btn btn-primary createMatch">Create Match</button>
				<button type="button" class="btn btn-primary" id="manageMatch">Manage Match</button>
			</p>
			<div id="loadedContainer">
			</div>
		</div>
	</body>
</html>