<!-- views/index.ejs -->
<!doctype html>
<html>
	<head>
		<title><%= title %></title>

		<% include ../html/scripts_css %>
		
		<style type="text/css">
			body { padding-top: 15px; }
		</style>
	</head>
	<body>
		<% include ../html/top %>
		
		<div class="jumbotron">
			<div class="page-header">
					<h3>
						<p class="text-center">
							<title><%= title %></title>
						</p>
					</h3>
				
			</div>
			<div id="loadedContainer">
			
			</div>
		</div>

	</body>
</html>