<script type="text/javascript" src="/public/js/addNumberPicker.min.js"></script>
<script type="text/javascript" src="/public/js/Obj.min.js"></script>

<link rel="stylesheet" href="/public/css/addNumberPicker.min.css" />

<p class="text-center">
	<div style="overflow:hidden;">
	    <div class="form-group">
	        <div class="row">
	            <div class="col-md-8">
	                <div id="datetimepicker12"></div>
	            </div>
	        </div>
	    </div>
	    <script type="text/javascript">
	        $(function ()
	        {
	        	var list_date;

	            $('#datetimepicker12').datetimepicker({
	                inline: true,
	                sideBySide: true
	            })
	            .on("dp.change", function (e)
	            {
	            	list_date = moment(e.date).format('x');

		            $("#createMatch").removeClass('disabled');
		        });

				$('#createMatch').click(function()
				{
					var list_size = $('.addui-numberPicker-input').val();
					var isParticipating = $("#creatorOnList").is(':checked')
					

					$.post("/crud/list/create",
					{
						names       : isParticipating,
						list_date   : list_date,
				        list_size   : list_size,
				        list_status : 'admins'
					},
					function(data, status)
					{
						console.log(data);
					});
				});
	        });
	    </script>
	</div>
</p>

<p class="text-center">
	<label class="checkbox-inline">
		<input type="checkbox" id="creatorOnList" value="option"> Participate?
	</label>
</p>
<p class="text-center">
	<label class="checkbox-inline">
		Participants <input data-addui='numberpicker' class="participantsNumber">
	</label>
</p>

<p class="text-center">
	<button type="button" class="btn btn-primary disabled" id="createMatch">Create</button>
</p>