<p class="text-center">
	<div style="overflow:hidden;">
	    <div class="form-group">
	        <div class="row">
	            <div class="col-md-8">
	                <div id="datetimepicker12"></div>
	            </div>
	        </div>
	    </div>
	    <script type="text/javascript">
	        $(function () {

	        	var names = [{
	        		"status"     : "playing",
	        		"player_id"  : "01",
	        		"datetime"   : '1465552471371.0',
	        		"last_name"  : "Hisser",
	        		"first_name" : "Slashheron"
	        	}]

	            $('#datetimepicker12').datetimepicker({
	                inline: true,
	                sideBySide: true
	            })
	            .on("dp.change", function (e)
	            {
	            	var data = moment().format('x')
		            $("#createMatch").removeClass('disabled');
		        });

				$('#createMatch').click(function()
				{
					var isParticipating = $("#creatorOnList").is(':checked')

					$.post("/crud/list/create",
					{
						names       : isParticipating ? names : [],
				        list_size   : '21',
				        list_status : 'admins'
					},
					function(data, status)
					{
						console.log(data);
					});
				});
	        });
	    </script>
	</div>
</p>

<p class="text-center">
	<label class="checkbox-inline">
		<input type="checkbox" id="creatorOnList" value="option"> Participate?
	</label>
</p>
<p class="text-center">
	<button type="button" class="btn btn-primary disabled" id="createMatch">Create</button>
</p>