<!doctype html>
<html>
	<head>
		<title><%= title %></title>

		<% include ../html/scripts_css %>
		<script type="text/javascript" src="/public/js/addNumberPicker.min.js"></script>
		<script type="text/javascript" src="/public/js/Obj.min.js"></script>
		<link rel="stylesheet" href="/public/css/addNumberPicker.min.css" />
		
		<script>

			if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
				
			}else{
				
			}

		</script>
		<style type="text/css">
			body { padding-top: 15px; }
		</style>
	</head>
	<body>
		<% include ../html/top %>
		
		<div class="jumbotron">
			<div class="page-header">
				<h3>
					<p class="text-center">
						<%= title %>
					</p>
				</h3>
			</div>

			<p class="text-center">
				<div style="overflow:hidden;">
					<div class="form-group">
						<div class="row">
							<div class="col-md-4">
							</div>
							<div class="col-md-4">
								<div id="datetimepicker12"></div>
							</div>
							<div class="col-md-4">
							</div>
						</div>
					</div>
				</div>
			</p>

			<div id="loadedContainer_internal">
				<% include names/names_list %>
			</div>
			<p class="text-center">
				<label class="checkbox-inline">
					Participants <input data-addui='numberpicker' value='21' class="participantsNumber">
				</label>
			</p>

			<p class="text-center">
				<button type="button" class="btn btn-primary disabled" id="update">update</button>
			</p>
		</div>

	</body>
	<script type="text/javascript">
		$( document ).ready(function()
		{
			var list_date;

			$('#datetimepicker12').datetimepicker({
				inline: true,
				sideBySide: false,
				defaultDate: "<%= moment(list.list_date, 'x').format('MM/DD/YYYY HH:mm') %>"
			})
			.on("dp.change", function (e)
			{
				list_date = moment(e.date).format('x');
				$("#update").removeClass('disabled');
			});

			$('#update').click(function()
			{
				var list_size = $('.addui-numberPicker-input').val();

				$.post("/matches/match/update",
				{
					list_date   : list_date,
					list_size   : list_size,
					list_status : 'pending'
				},
				function(data, status)
				{
					console.log(data);
				});
			});

			/*$('button[action]').click(function(e)
			{
				var currentAction = $(this).attr('action');
				var player_id     = $(this).val();
				var list_id       = "<%= list._id %>";

				console.log('currentAction' + currentAction);
				console.log('player_id' + player_id);

				$.post("/matches/match/edit/match/",
				{
					list_id       : list_id,
					player_id     : player_id,
					player_status : currentAction
				},
				function(data, status)
				{
					console.log(data);
					$.post("/matches/views/playerslist", {list_id : list_id}, function(data)
					{
						$("#loadedContainer_internal").html( data );
					});
				});
			});*/
		});
	</script>
</html>